@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i');

body, html {
    font-family: 'Ubuntu', sans-serif;
    text-rendering: optimizeLegibility !important;
    background-color: #f1e8e7;
    color: #161418;
    transition: all 0.5s;
}

body.dark {
    background-color:#161418;
    color: #f1e8e7;
    
}


/* Navigation */
#tf-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
    color: #947D6E;
	font-size: 12px;
    letter-spacing: 1px;
    transition: all 0.5s;
}

 body.dark #tf-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
    color: #CC0033;
	font-size: 12px;
	letter-spacing: 1px;
}

/*Home Page Styling*/

#tf-home{
	background: url(../assets/imgs/reuters-stock.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
    color: #A18F94;
    transition: all 0.5s;
}

body.dark #tf-home{
    background: url(../assets/imgs/hero-stock.jpg);
    background-size: cover;
	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
    
}

#tf-home .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	height: 100vh;
	background-attachment: fixed;
}
#tf-home p.lead{
    color: #f1e8e7;
    transition: all 0.5s;
}

body.dark #tf-home p.lead{
    color: #947D6E;
}

.content{
    position: relative;
    padding: 50vh 0 0;
}


/*Main Content Styles*/

#tf-main{
    padding: 40px 0; /* Padding on top of section */
}

a.link {
    color: #947D6E;
    text-decoration: underline;
}

a.link:hover {
    color: #CC0033;
}

body.dark a.link {
    color: #CC0033;
}

body.dark a.link:hover {
    color: #947D6E;
}

#tf-main h2{
    color: #947D6E;
}

/*Footer*/
nav#footer{
	background: #161418;
	color: #A18F94      ;
    padding: 15px 0 15px 0;
    transition: all 0.5s;
}

body.dark nav#footer{
	background: #f1e8e7;
	color: #A18F94      ;
	padding: 15px 0 15px 0;
}

nav#footer .fnav{ vertical-align: middle;}
ul.footer-sites li{
	display: inline-block;
	margin-right: 10px;
}
nav#footer p{
	font-size: 12px;
	margin-top: 10px;
}

/* footer icon styling*/
#footer i.fab {
	height: 30px;
	width: 30px;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #947D6E;
	transition: all 0.5s;
}

body.dark #footer i.fab {
    color: #CC0033;
}

#footer i.fab:hover{
	background: #947D6E;
	border-color: #947D6E;
	color: #f1e8e7;
}

body.dark #footer i.fab:hover{
	background: #CC0033;
	border-color: #CC0033;
	color: #f1e8e7;
}


/* Animations */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.fade-in.four {
  -webkit-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
